@charset "utf-8";
.container{
    display: flex;
    flex-direction: column;
}
.container_row{
    display: flex;
    flex-direction: row;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 80vh;
    background-image: url("../_IMAGENS/imagem_fundo_tela_principal_inicio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#title_header{
    
}
#title_header h1,h2{
    margin: auto;
}
nav{
    position: fixed;
    height: 50px;
    width: 100%;
    justify-content:space-between;
    align-items:center;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 10px 3px 30px 10px;
}
nav a{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 18pt;
    padding: 6px;
    text-decoration: none;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
.topico{
    border: 3px solid red;
    display: flex;
    height: 20vh;
    width: 90%;
    margin: 30px auto;
    border-radius: 25px 0;
}