@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 80vh;
    background-image: url("../_IMAGENS/imagem_fundo_tela_principal_inicio.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
#title_header{
    position: relative;
    top: 40%;
    text-align: center;
}
#title_header h1,h2{
    margin: auto;
}
.topico{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    align-content: center;
    border: 3px solid black;
    box-shadow: 1px 10px 20px 1px;
    height: 20vh;
    width: 90%;
    margin: 30px auto;
    border-radius: 25px 0;
}
.topico:hover{
    background-color: orangered;
    transition: 0.5s;
}
/**Body Configuration*/

/**Configuration by tag`s name*/
a{
    text-decoration: none;
    color: black;
}
/**Class`s topics configurations*/
.topic_number, .topic_name{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
}
.topic_number{
    border-right: 2px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 80px;
}
.topic_name{
    font-size: 50px;
}