@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    margin: 0px;
    padding: 0px;
}
main{
    
}
a{
    text-decoration: none;
    color: black;
}
.topico{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    align-content: center;
    border: 3px solid black;
    box-shadow: 1px 10px 20px 1px;
    height: 20vh;
    width: 90%;
    margin: 30px auto;
    border-radius: 25px 0;
}
.topico:hover{
    background-color: orangered;
    transition: 0.5s;
}
.topic_number, .topic_name{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    z-index: -1;
}
.topic_number{
    border-right: 2px solid black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 80px;
    z-index: -1;
}
.topic_name{
    font-size: 80px;
}
@media(max-width: 700px){
    main{
        margin-top: 50px;
    }
    .topic_number{
        font-size: 50px;
    }
    .topico .topic_name{
        font-size: 50px;
    }
}