@charset "utf-8";
/*#id*/
#fig_tela_principal{
    margin: 0;
    padding: 0;
    border: 3px solid blue;
}
/*class*/
#img_tela_principal{
    height: 100%;
    width: 100%;
}
/*tags*/
body{
    margin: 0px;
    padding: 0px;
}
/*Header Configurations*/
hgroup {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
hgroup::before {    
      content: "";
      background-image: url("../_IMAGENS/imagem_fundo_tela_principal_inicio.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.90;
}
